<h1>ShipEx</h1>
<p id="p1">-We ship shit for less</p>
<%= form_for @job do |f| %>

<div class = "boats-new">
  <div>
    <%= f.label :title, "Title: " %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description, "Description: " %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :origin, "Origin: " %>
    <%= f.text_field :origin %>
  </div>
  <div>
    <%= f.label :destination, "Destination: " %>
    <%= f.text_field :destination %>
</div>
  <div>
    <%= f.label :cost, "Cost: " %>
    <%= f.text_field :cost %>
  </div>
  <div>
    <%= f.label :containers_needed, "Containers Needed: " %>
    <%= f.text_field :containers_needed %>
  </div>
    <%= f.submit %>
  <% end %>

</div>
