<%= form_for @job do |f| %>
  <div>
    <%= f.label :title, "Title: " %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description, "Description: " %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :origin, "Origin: " %>
    <%= f.select :origin, boats_location%>
  </div>
  <div>
    <%= f.label :destination, "Destination: " %>
    <%= f.select :destination, boats_location%>
</div>
  <div>
    <%= f.label :cost, "Cost: " %>
    <%= f.text_field :cost %>
  </div>
  <div>
    <%= f.label :containers_needed, "Containers Needed: " %>
    <%= f.text_field :containers_needed %>
  </div>
    <%= f.submit %>
  <% end %>
