<div class = "job-title">
  <p>Edit your job:</p>
  <%= form_for @job do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br>
    <%= f.label :origin %>
    <%= f.select :origin, boats_location %>
    <%= f.label :destination %>
    <%= f.select :destination, boats_location %>
    <br>
    <%= f.label :cost %>
    <%= f.text_field :cost %>
    <br>
    <%= f.label :containers_needed %>
    <%= f.text_field :containers_needed %>
    <br>
    <%= f.submit %>
    <% end %>
</div>
