<h1>Job#edit</h1>
<p>Find me in app/views/jobs/edit.html.erb</p>

<%= form_for @job do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label :origin %>
    <%= f.text_field :origin %>
    <%= f.label :destination %>
    <%= f.text_field :destination %>
    <%= f.label :cost %>
    <%= f.text_field :cost %>
    <%= f.label :containers_needed %>
    <%= f.text_field :containers_needed %>
    <%= f.submit %>
    <% end %>
