<h1>ShipEx</h1>
<p id="p1">-We ship shit for less</p>

<h2> All Jobs</h2>
<div class="column boat-job-div2">
  <% @jobs.each do |job| %>
    <p>Job title: <%= job.title %></p>
    <p>Job description: <%= job.description %></p>
    <p>Origin: <%= job.origin %></p>
    <p>Destination: <%= job.destination %></p>
    <p>Cost: $<%= job.cost %></p>
    <p>Containers Needed: <%= job.containers_needed %></p>
    <hr>
  <% end %>
</div>
