<h1>Jobs#index</h1>
<p>Find me in app/views/jobs/index.html.erb</p>


<div class="column boat-job-div2">
  <% @jobs.each do |job| %>
    <p>Job title: <%= job.title %></p>
    <p>Job description: <%= job.description %></p>
    <p>Origin: <%= job.origin %></p>
    <p>Destination: <%= job.destination %></p>
    <p>Cost: $<%= job.cost %></p>
    <p>Containers Needed: <%= job.containers_needed %></p>
    <hr>
  <% end %>
</div>
