<h1>Jobs#show</h1>
<p>Find me in app/views/jobs/show.html.erb</p>

<p>Title: <%= @job.title %></p>
<p>Description: <%= @job.description %></p>
<p>Origin: <%= @job.origin %></p>
<p>Destination: <%= @job.destination %></p>
<p>Containers Needed: <%= @job.containers_needed %></p>
