  <tr>
    <th scope="row"><%= @boat_job.id %></th>
    <td><%= link_to @boat_job.boat.name, boat_jobs_path %></td>
    <td><%= @boat_job.boat.container_volume %></td>
    <td><%= @boat_job.job.title%></td>
    <td><%= @boat_job.job.description%></td>
    <td><%= @boat_job.job.containers_needed%></td>
  </tr>
