
<div class="dash-board1 form-font">
  <%= form_with model: BoatJob.new, url: join_create_path do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <%= f.label :boat_name %>
        <%= select("boat_job", "boat_id", boats_select_array ) %>
      </div>
      <div class="col-sm">
        <%= f.label :job_name %>
        <%= select("boat_job", "job_id", jobs_select_array ) %>
      </div>
      <div class="col-sm">
        <%= f.submit "Assign Job", class: "boat-job-button", data: {disable_with: "Submitting..."} %>
      </div>
  <% end %>
</div>

<hr>

<h1>Job Assignments</h1>
<div class="boat-job-div2">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Boat Name</th>
          <th scope="col">Capacity</th>
          <th scope="col">Job Title</th>
          <th scope="col">Description</th>
          <th scope="col">Containers Needed</th>
        </tr>
      </thead>

      <tbody class="table-row">
      <% @b.each do |boat_job| %>
      <% if boat_job.boat.shipper_id == current_shipper.id %>
        <tr>
          <th scope="row"><%= boat_job.id %></th>
          <td><%= link_to boat_job.boat.name, boat_jobs_path %></td>
          <td><%= boat_job.boat.container_volume %></td>
          <td><%= boat_job.job.title%></td>
          <td><%= boat_job.job.description%></td>
          <td><%= boat_job.job.containers_needed%></td>
        </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
</div>
