<h1>Shippers#dashboard</h1>
<p>Find me in app/views/shippers/dashboard.html.erb</p>

<h1><%= @shipper.email %></h1>
<div>
  <%= form_with model: BoatJob.new, url: join_create_path do |f| %>
    <%= f.label :boat_name %>
    <%= select("boat_job", "boat_id", boats_select_array ) %>
    <%= f.label :job_name %>
    <%= select("boat_job", "job_id", jobs_select_array ) %>
  <%= f.submit class: "boat-job-button", data: {disable_with: "Submitting..."} %>
  <% end %>
</div>

<h1>BoatJob Connection</h1>

<div class="boat-job-div">
    <!-- <div id="boat-job-inner"> -->
  <% if BoatJob.exists? %>
  <h2>
    <span id='boat-id-span'><%= @boat_job.boat_id %></span>
  </h2>

  <h2>
    <span id='job-id-span'><%= @boat_job.job_id %></span>
  </h2>
    <% else %>
    <h2>
      <span id='boat-id-span'>-</span>
    </h2>

    <h2>
      <span id='job-id-span'>-</span>
    </h2>
  <% end %>
    <!-- </div> -->
</div>

<hr>

<div class="row">
  <div class="column">
    <% @boats.each do |boat| %>
      <p>Boat name: <%= boat.name %></p>
      <p>Container volume: <%= boat.container_volume %></p>
      <p>Location: <%= boat.location %></p>
    <% end %>
  </div>

  <div class="column">
    <% @jobs.each do |job| %>
      <p>Job title: <%= job.title %></p>
      <p>Job description: <%= job.description %></p>
      <p>Origin: <%= job.origin %></p>
      <p>Destination: <%= job.destination %></p>
      <p>Cost: $<%= job.cost %></p>
      <p>Containers Needed: <%= job.containers_needed %></p>
    <% end %>
  </div>
</div>
