<h1>Boats#edit</h1>
<p>Find me in app/views/boats/edit.html.erb</p>

<%= form_for @boat do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :location %>
    <%= f.text_field :location %>
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
    <%= f.submit %>
    <% end %>
