<div class="job-title">
  <%= form_for @boat do |f| %>
    <p>Edit your boat:</p>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :location %>
    <%= f.select :location, boats_location %>
    <br>
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
    <br>
    <br>
    <%= f.submit %>
    <% end %>
</div>
