<!DOCTYPE html>
<html>
  <head>
    <title>ShippingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>


      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>

    <script type="text/javascript" src="js/materialize.min.js"></script>

  </body>
</html>
